* {
	margin: 0;
	padding: 0;
	color: black;
	font-family: Helvetica;
}

.cadastro {
	padding: 20px;
	width:  fit-content;
}

form {
	display: flex;
	flex-direction:  column;
}

label {
	padding: 5px;
}